Cython>=0.28,<1.0; python_version == '3.8'
attrs>=19.3.0
numpy==1.20.0
sphinx-rtd-theme==1.0.0
sphinx-autoapi==1.8.4
m2r==0.2.1
myst-parser==0.15.2
myst-nb==0.13.1
networkx==2.5
linkify-it-py==1.0.2
pandoc==2.0.1
psycopg2-binary==2.8.4
scipy==1.6.0
setproctitle==1.2.2
ipython==7.13.0
xxhash==2.0.0
opencv-python==4.5.4.60
pillow==9.3.0
ale-py==0.7.3
git+https://github.com/FragileTech/gym.git  # Avoid random build breaks due to faulty setup.py
autorom[accept-rom-license]==0.4.2
gym-super-mario-bros==7.3.2
ray